#nav_left {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}

#nav_left li{
  float: left;
}

#nav_left li img{
	width: 60px;
	height: 60px;
	margin: 10px;
}

#nav_right li{
	float: right;
	margin-right: 10%;
}

.left,.right{
	
	display: inline-block;
}

 .left{
	 float: left;
} 

.right
{
	float: right;
}


#One img{
	width: 90%;
	height: 70%;
}


#One{
	position: absolute;
	margin-left: 20%;
	top: 20%;
	

}

.guide{

	/* position: absolute; */
	position: absolute;
	/* float: right; */
	top: 15%;
	/* right: 10px; */
	/* right: 0; */
	/* margin-top: 20%; */
	/* margin-right: 30%; */
	
}

.guide a img{
	width: 400px;
	height: 300px;
}

/* footer{
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
} */

/* Change the link color to #111 (black) on hover */
#nav li a:hover {
  background-color: #111;
}