.flex_container{
    display: flex;
    flex-direction: row;
}

.flex_left{
    width: 15%;
    height: 100vh;
    border-right: 1px solid rgb(121,121,121);
    text-align: center;
}

.flex_right{
    width: 85%;
    height: 100vh;
}

.group{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin: 0 auto;
}

.user_name{
    display: block;
}

.main_button{
    position: absolute;
    bottom: 5%;
    left: 6%;
}