.flex_container{
    display: flex;
    flex-direction: row;
}

.flex_left{
    width: 15%;
    height: 100vh;
    border-right: 1px solid rgb(121,121,121);
    text-align: center;
}

.flex_right{
    width: 85%;
    height: 100vh;
    background-color: #f8f0e0;
}

.group{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin: 0 auto;
    margin-top: 50px;
}

.user_name{
    display: block;
}

.main_button{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 120px;
    height: 35px;
    background-color: white;
    border: 2px solid #f59a23;
    border-radius: 5px;
    cursor: pointer;
}

.main_button:hover{
    background-color: #f59a23;
}

.main_button:active{
    background-color: transparent;
}

.profile_header{
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}